<!DOCTYPE html>
<html>
  <head>
    <title><%= video %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- TODO : Add vide embed here! -->
    <h1><%= video %></h1>
    <p>Welcome to <%= video %></p>
  </body>
</html>
